mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container.intro.wrapper
      h1.intro__title.title.title--h1 Не&nbsp;упусти возможность войти в&nbsp;прибыльную нишу
      +picture('content', 'man', 'png', 800, 600, 'Alt Text')
