.intro {
  position: relative;
  &__wrapper {
    position: relative;
    padding-top: 303px;

    @include vp-1023 {
      padding-top: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include vp-767 {
      padding-top: 105px;
    }
  }

  &__title {
    width: 55%;

    @include vp-1023 {
      width: 100%;
      text-align: center;
    }
  }

  &__image {
    flex-shrink: 0;
    position: absolute;
    top: 185px;
    right: -13%;
    z-index: -1;
    aspect-ratio: 16 / 9;

    @include vp-1023 {
      position: relative;
      top: 0;
      right: 0;
      aspect-ratio: 1 / 1;
    }

    img {
      width: 863.474px;
      transform: rotate(-0.107deg);

      @include vp-1023 {
        width: 600px;
      }
    }
  }

  &__decor-ellipse {
    position: absolute;
    top: -200px;
    left: 0;
    width: 414.902px;
    height: 414.902px;
    transform: rotate(11.969deg);
    border-radius: 414.902px;
    background: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
    filter: blur(86px);
    z-index: 100;

    @include vp-1023 {
      width: 300px;
      height: 300px;
    }

    @include vp-1023 {
      width: 237.713px;
      height: 237.713px;
      top: -80px;
      left: -70px;
    }
  }
}
