mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]
  header.header-example(data-header='', class=headerMods)
    .container
      a.logo.header-example__logo(href='index.html', aria-label='Переход на главную страницу')
        img.logo__first-part(src='path_to_first_part_image.png', width='91', height='21', alt='Логотип, часть 1')
        img.logo__second-part(src='path_to_second_part_image.png', width='134', height='26', alt='Логотип, часть 2')
      nav.header-example__nav
        ul.header-example__list
          li.header-example__item
            a.header-example__link(href='components.html') Компоненты
          li.header-example__item
            a.header-example__link(href='cases.html') Кейсы
          li.header-example__item
            a.header-example__link(href='guides.html') Гайды
          li.header-example__item
            a.header-example__link.header-example__link--blue(href='https://ligaa.agency/', target='_blank') Лига А.
      a.git-link.header-example__git-link(href='https://github.com/htmlonelove/liga-reshare', target='_blank', rel='nofollow noopener noreferrer', aria-label='Ссылка на репозиторий')
        img(src='path_to_git_icon.png', width='35', height='35', alt='Иконка GitHub')
      button.header-example__burger(type='button', aria-label='Переключатель отображения меню', aria-pressed='false', data-burger='')
        span.header-example__burger-text Меню
        img.header-example__burger-icon(src='path_to_burger_icon.png', width='20', height='20', alt='Иконка меню')
  //- header.header(class=headerMods)
  //-   .container
  //-     if(currentUrl === "index.html")
  //-       //- lighthouse снимает 10 баллов SEO за <a> без href
  //-       span.header__logo Логотип
  //-     else
  //-       a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
  //-     nav.main-nav
  //-       button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
  //-         +icon("icon-burger", 20, 20)
  //-       .main-nav__wrapper
  //-         ul.main-nav__list
  //-           each link in headerLinks
  //-             - const activeState = currentUrl === link.href
  //-             li.main-nav__item
  //-               if(activeState)
  //-                 span.main-nav__link.is-active= link.text
  //-               else
  //-                 a.main-nav__link(href=link.href)= link.text
